<form action="/main" method="post">
  <label for="date">Date:</label>
  <input type="date" name="date" />
  <label for="price">price</label>
  <input type="text" name="price" />
  <label for="category">category</label>
  <input type="text" name="category" />
  <label for="tag">tag</label>
  <input type="text" name="tag" />
</form>