<div id="form">
  <h2>Create an account</h2>
  <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Your username" />
      <input type="email" name="email" placeholder="Your email" />
      <input type="password" name="password" placeholder="Your password" />

    <button class="btn-signup" type="submit">Sign Up</button>
    <p>Already have an account?<a href="/login">Login</a></p>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>