{{message}}
<h2 class="animate__animated animate__backInDown">Create Expense</h2>
<div id="create-form"> 
<form action="/main/expense/create" method="post">
<div>
  <label for="date">Date:</label>
  <input class="animate__animated animate__lightSpeedInRight" type="date" name="date" value="2023-01-01" />
  </div>
  <div>
  <label for="tag">Tag</label>
  <select class="animate__animated animate__lightSpeedInLeft" name="tag" >
    <option selected disabled value="null">Please select a tag</option>
    {{#each tags}}
<option value="{{_id}}">{{name}}</option>

    {{/each}}
  </select>
  </div>
  <div>
  <label for="price">Price$:</label>
  <input class="animate__animated animate__lightSpeedInRight" type="number" name="price" />
  </div>
  <div>
  <label for="Category">Category</label>
 <select class="animate__animated animate__lightSpeedInLeft" name="category"id="tag">
    <option selected disable value="null">Please select a category</option>
     <option value="Must have"> Must have</option>
     <option value="Nice to have">Nice to have</option>
     <option value="Wasted">Wasted</option>
     </select>
     </div>
     <div>
  <button type="submit"> submit</button>
  </div>
</form>
</div>