<h1>{{appTitle}} 🚀</h1>

<div>
  <h2>Welcome to Ironhack Expense Tracker {{currentUser.username}}</h2>
  <ul>
    {{#if currentUser}}
      <li><a href="/logout">Logout</a></li>

    {{else}}
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</div>