<div id="form">
  <h2>Profile</h2>
  <form action="/profile" method="POST" class="userProfile">

    <label for="username">
      Username</label>
    <input
      type="text"
      name="username"
      placeholder="Your username"
      value={{userFound.username}}
    />

    <label for="email">
      Email</label>
    <input type="email" name="email" placeholder="Your email" />

    <label for="password">
      Password</label>
    <input type="password" name="password" placeholder="Your password" />

    <button>Save</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>