@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: bisque;
}

nav {
  padding: 1rem;
  background-color: black;
  width: 100%;
}

nav.navTrans{
  background-color: transparent;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #40798c;
  text-decoration: none;
}

i{
  font-size: 2rem;
}

a:hover {
  opacity: 0.6;
  transition: 0.3s;
}
h1.homeH1{
  display: flex;
  text-align: start;
  justify-content: flex-start;
}
.navigation ul li a {
  display: block;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}


.navigation #sign-home{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  background-color: honeydew;
  border-radius: 1rem;
  font-weight: 800;
}

.navigation #sign-home:active {
box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.navigation #log-home{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
  font-weight: 800;
}

.navigation #log-home:active {
box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#home{
  background-image: url("./../images/piece-monnaie-table-bois.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  width: 100%;
}

h1 {
  display: flex;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  padding: 0.5rem;
  color: red;
  box-shadow: black;
}

h2 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: darkblue;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  gap: 2rem;

}

.img-wallet img{ 
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

 h2.home {
  display: flex;
  justify-content: center;
  margin: 6rem;
  padding: 6rem;
  font-size: 2rem;
  border: 1px solid red;
}

.button-h h2{
display: flex;
justify-content: center;
text-align: center;
margin: 3rem auto;
padding: 3rem;
background-color: beige;
border-radius: 1rem;
}

/* h2.wel {
  display: flex;
  border: 1px solid red;
  margin: 1.5rem auto;
  padding: 2rem;

} */

form {
  font-family: "Courier New", Courier, monospace, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #00b7ff;
  border-radius: 1rem;
  width: 90%;
  max-width: 450px;
  margin: 2rem auto;
  padding: 1em;
} 

label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 0.5rem;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  width: 100%;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: bisque;
  font-weight: 800;
  border: none;
  box-shadow: 0 9px #999;
}

button:hover {
  border: none;
  padding: 0.75em;
  border-radius: 15px;
  /* box-shadow: inset 0 0 8px #f9f8fc; */
}

button:active {
  background-color: bisque;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#form form{
  /* border: 1px solid red; */
  background-color: pink;
  background-image: url("./../images/blob-haikei.png");
}

#form h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
  width: 100%;
}

#form .btn-signup{
  background-color: #00b7ff;
  width: 50%;
}

#login-form .login{
width: 50%;
}

#login-form form{
  background-image: url("./../images/low-poly-grid-haikei.png");
}

#form input{
  width: 75%;
  height: 2.5rem;
}

#login-form input{
width: 75%;
  height: 2.5rem;
}

#form p {
  margin: 0.5rem;
  font-weight: 800;
}

#form a {
  font-weight: 800;
}

#userForm form{
background-image: url("./../images/low-poly-grid-haikei.png");
}

#userForm .save{
width: 75%;
margin: 2rem auto;
}

#userForm label {
  color:aliceblue;
}

#userForm input{
  width: 75%;
  height: 2.5rem;
}

#edit form{
  margin: 3rem auto;
  background-image: url("./../images/layered-steps-haikei.png");
}

#edit label{
  width: 50%;
  color: beige;
}

#edit input{
  width: 60%;
  height: 2.5rem;
}


#edit .button{
/* background-color: #00b7ff; */
display: flex;
/* text-align: center; */
justify-content: center;
align-content: center;
width: 50%;
font-weight: 800;
margin: 1rem auto;
padding: 1rem;
}

#edit select{
  width: 60%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 800;
}

#edit h2{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace, sans-serif;
  width: 75%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

#create-form form{
  margin: 3rem auto;
  color:aliceblue;
  background-image: url("./../images/low-poly-grid-haikei(2).png");
  /* background-image: url("./../images/layered-steps-haikei.png"); */
}

#create-form select{
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.hidden {
  display: none;
}
